doctype html
html(ng-app="app")
  head
    title= title
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/font-awesome.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    // STYLES END
    block styles

  body
    block body

    script(type="text/ng-template", id="errorModalContent.html")
      .modal-body
        .alert.alert-danger.no-margin-bot
          div: strong Error:
          div {{error.message}}

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/jquery.js")
    script(type="text/javascript", src="/linker/js/angular.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap.js")
    script(type="text/javascript", src="/linker/js/ui-bootstrap-tpls.js")
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-socket.io.js")
    script(type="text/javascript", src="/linker/js/angular-sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/controllers/restCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/sailsSocketCtrl.js")
    script(type="text/javascript", src="/linker/js/controllers/todoCtrl.js")
    script(type="text/javascript", src="/linker/js/services/sailsSocket.js")
    // SCRIPTS END
