extends ../layout

block body
  .container.ng-cloak(ng-controller="SailsSocketCtrl")
    .row
      .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .panel.panel-default(ng-controller="TodoCtrl")
          .panel-heading.clearfix
            a.pull-right(ng-click="openModal(newTodo)")
              i.fa.fa-plus
            h1.panel-title Todo List

          ul.list-group
            li.list-group-item(ng-repeat="todo in todos track by $index")
              a.pull-right(ng-click="openModal(todo)")
                i.fa.fa-edit
              a(ng-click="toggleCompleted(todo)")
                i(ng-class="{ fa: true, 'fa-lg': true, 'fa-check-circle-o': todo.isComplete, 'fa-circle-o': !todo.isComplete }")
              = ' '
              span(ng-class="{ strikethru: todo.isComplete }") {{todo.title}}
          .panel-footer.clearfix
            span.pull-left
              strong= '{{remainingCount}} '
              ng-pluralize(count="remainingCount", when="{ one: 'item left', other: 'items left' }")
            button.btn.btn-default.btn-xs.pull-right(ng-click="clearCompletedTodos()", ng-show="remainingCount < todos.length")
              | Clear completed ({{todos.length - remainingCount}})

  script(type="text/ng-template", id="todoModalContent.html")
    .modal-header
      h3.modal-title
        span(ng-show="todo.id") Edit
        span(ng-hide="todo.id") New
        = ' Todo'
    .modal-body
      form(role="form")
        .form-group
          label(for="todoTitle") Title
          input.form-control(type="text", id="todoTitle",
            placeholder="My todo item...", ng-model="todo.title")
    .modal-footer
      button.btn.btn-default(ng-click="cancel()") Cancel
      button.btn.btn-danger(ng-click="ok('delete')", ng-show="todo.id") Delete
      button.btn.btn-primary(ng-click="ok('save')") Save


